node_modules
dist
.env
user.service.copy.txt
styles-used.min.css
styles.min.css
styles.min.css.map
scss
icons
public/admin/css
public/images
public/client/css
public/client/img
public/client/lib
public/status