<div class="container-fluid featurs py-5">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-car-side fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Miễn phí vận chuyển</h5>
            <p class="mb-0">Miễn phí cho đơn hàng trên 300$</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-user-shield fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Thanh toán an toàn</h5>
            <p class="mb-0">Bảo mật thanh toán 100%</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fas fa-exchange-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Đổi trả trong 30 ngày</h5>
            <p class="mb-0">Hoàn tiền trong 30 ngày</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div
            class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
          >
            <i class="fa fa-phone-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>Hỗ trợ 24/7</h5>
            <p class="mb-0">Phục vụ nhanh chóng mọi lúc</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
